<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=RentCDB;Integrated Security=True;"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RentC Web ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:55229/CarList.asmx" binding="basicHttpBinding"
        bindingConfiguration="RentC Web ServiceSoap" contract="RentWebService.RentCWebServiceSoap"
        name="RentC Web ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>